@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Rajdhani", sans-serif;
	--font-mono: "JetBrains Mono", monospace;

	--color-bg: #09090b;
	--color-surface: #18181b;
	--color-accent: #fbbf24;
	--color-cyan: #22d3ee;
	--color-muted: #71717a;
	--background-image-grid-pattern: radial-gradient(#333 1px, transparent 1px);
}

body {
	background-color: var(--color-bg);
	color: white;
	overflow: hidden;
	font-family: var(--font-sans);
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
	background: #3f3f46;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-accent);
}

.loader {
	border: 2px solid var(--color-surface);
	border-top: 2px solid var(--color-accent);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}